@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@300&display=swap');

:root {
    --cor1: #53F5A3;
    --cor2: #F5F12F;
    --cor3: #79F553;
    --cor4: #53F56C;
    --cor5: #037A77;
    --font1: 'Playpen Sans', cursive;
}

*{
    padding: 0%;
    margin: 0%;
    font-family: var(--font1);
}

a{
    text-decoration: none;
    color: black;
}

body{
    background-color: darkcyan;
}

header{
    margin: 10px;
    padding: 10px;
    background-color: var(--cor4);
    box-shadow: 5px 5px #53f56b57;
    text-align: center;
}

header > h1{
    text-align: center;
    font-family: 'Playpen Sans', cursive;
}

main{
    margin-top: 50px;
    margin-bottom: 50px;
}

main > a{
    color: black;
}

.selecao:hover{
    box-shadow: 5px 5px rgba(0, 0, 0, 0.35);
} 

.selecao{
    background-color: white;
    width: 200px;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 10px;
}